.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF; /*White*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.artImg {
  max-width: 75%; 
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: #1F1E1C; /*black*/
}

.search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 5em;
  min-width: 10em;
}


.previous {
  background-color: #88807B; /*gray*/
  color: #1F1E1C; /*black*/
}

.next {
  background-color: #60100B; /*maroon*/
  color: #FFFFFF; /*White*/
}

.round {
  border-radius: 50%;
  margin: .25em;
  text-decoration: none;
}

.subtitle {
  font-weight: normal;
  font-size: 1.3em;
  color: #88807B; /*gray*/
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1F1E1C; /*black*/
    padding: 1.5em;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 3em;
}

.footer-container h4, a{
    color: #FFFFFF; /*White*/
    
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.5em;
    
}

.footer-list a {
  text-decoration: none;
  color: #88807B; /*gray*/
}

.footer-list a:hover { 
  text-decoration: none; 
  color: #60100B; /*maroon*/
  
}


.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayPiece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist {
  font-weight: bold;
  color: #60100B; /*maroon*/
  font-size: 1.75em;
}

.title {
  color: #88807B; /*gray*/
  font-size: 1.25em;
}

.description {
  color: #88807B; /*gray*/
  font-size: .75em;
}

.art-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  border-bottom: solid 1px #88807B; /*Gray*/
}



.saved-container {
  margin: 3em;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.saved-container h2 {
  color: #60100B; /*maroon*/
}

.saved-container p {
  color: #88807B; /*gray*/
}

.saved-item {
  display: flex;
  flex-direction: column;
}

.saved-item img {
  max-width: 50%; 
}

.save-button {
  color: #60100B; /*maroon*/
  background-color: #FFFFFF; /*White*/
  margin: 1em;
  width: 5em;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-trio-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 4em;
}
.image-trio-container img {
  max-width: 33.33%;
  max-height: 20em;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction:column;
  max-width: 60%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 3em;
}
.feature img {
  max-width: 100%;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizonal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.tile {
  border: 1px solid #88807B; /*gray*/
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bio {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
  align-items: center;
  
}
.bio img {
  max-width: 100%;
}

.redirect-button {
  color: #FFFFFF; /*White*/
  background-color: #60100B; /*maroon*/
  width: 5em;
  text-decoration: none;
  border: 1px solid #1F1E1C; /*black*/
}


@media only screen and (min-width: 961px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .horizonal-container {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
    
    .tile {
      max-width: 32%;
      border: 1px solid #88807B; /*gray*/
      min-height: 45em;
    }
    
    .bio {
      flex-direction: row;
    }
    
    .bio img {
      max-width: 40%;
      margin-right: 2em;
    }
}

.inline-link {
  margin: 0;
  text-decoration: none;
  color: #60100B; /*maroon*/
}