.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.artImg {
  max-width: 50%; 
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #7DC8CA;
  color: white;
}

.round {
  border-radius: 50%;
}

.subtitle {
  font-weight: normal;
  font-size: 1.3em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #EBECF0;
    padding: 1.5em;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-container h4, a{
    color: black;
    
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.5em;
    
}

.footer-list a {
  text-decoration: none;
  color: #88807B;
}

.footer-list a:hover { 
  text-decoration: none; 
  color: #60100B;
  
}

@media only screen and (min-width: 961px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
    }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayPiece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist {
  font-weight: bold;
  color: #7DC8CA;
  font-size: 1.75em;
}

.title {
  color: #7DC8CA;
  font-size: 1.25em;
}

.description {
  color: #808080;
  font-size: .75em;
}

.art-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}